*{
    padding: 0;
    margin: auto;
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header ul li{
    margin-right: 10px;
    cursor: pointer;
    float: left;
    padding: 12px 12px;
    font-weight: 500;
    border-radius: 5px;
}

header ul li:hover{
    background-color: gray ;
    color: #fff;
}

body .backgroupImg{
    background-image: url('../images/pexels.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body .backgroupImg items {
    background-color: gray;
    padding: 5px;
    width: 300px;
    height: 400px;
}

/* footer table, th, td{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
} */
footer table{
    border-collapse:collapse;
}
footer th, td{
    text-align:left;
    padding:5px;
}